
@{
    ViewData["Title"] = "Login";
}

<div class="login-container">
    
    <form method="post">
        <div class="row">
                <div class="w-25 mx-auto">
                    <h3 class="text-center">Kullanıcı Girişi</h3>
                     <input class="form-control" type="text" placeholder="Kullanıcı Adı" id="UserName" name="UserName"/>
            <input class="form-control mt-2" type="password" placeholder="Şifre" id="Password" name="Password"/>
            <div class="login-button text-center">
                <button type="submit"  class="btn btn-primary mt-5" id="login">Giriş Yap</button>
            </div>
                </div>
        </div>
           
    </form>
</div>

